{# templates/include/footer.html.twig #}

{# Section 1 - First Link Block #}
<div class="wrapperCentered">
    <div class="wrapperRow">
        <section class="one_quarter first">
            <h2 class="title">{{ pimcore_input('footer_block1_title', {'placeholder': 'LINK BLOCK'}) }}</h2>
            <nav>
                <ul>
                    {% for i in range(1, 5) %}
                        <li{% if loop.last %} class="last"{% endif %}>
                            {{ pimcore_link('footer_link1_' ~ i, {
                                'class': '',
                                'text': 'Lorem ipsum dolor sit'
                            }) }}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </section>
    
        {# Section 2 - Second Link Block #}
        <section class="one_quarter">
            <h2 class="title">{{ pimcore_input('footer_block2_title', {'placeholder': 'LINK BLOCK'}) }}</h2>
            <nav>
                <ul>
                    {% for i in range(1, 5) %}
                        <li{% if loop.last %} class="last"{% endif %}>
                            {{ pimcore_link('footer_link2_' ~ i, {
                                'class': '',
                                'text': 'Lorem ipsum dolor sit'
                            }) }}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </section>
    
        {# Section 3 - Third Link Block #}
        <section class="one_quarter">
            <h2 class="title">{{ pimcore_input('footer_block3_title', {'placeholder': 'LINK BLOCK'}) }}</h2>
            <nav>
                <ul>
                    {% for i in range(1, 5) %}
                        <li{% if loop.last %} class="last"{% endif %}>
                            {{ pimcore_link('footer_link3_' ~ i, {
                                'class': '',
                                'text': 'Lorem ipsum dolor sit'
                            }) }}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </section>
    
        {# Section 4 - Fourth Link Block #}
        <section class="one_quarter lastbox">
            <h2 class="title">{{ pimcore_input('footer_block4_title', {'placeholder': 'LINK BLOCK'}) }}</h2>
            <nav>
                <ul>
                    {% for i in range(1, 5) %}
                        <li{% if loop.last %} class="last"{% endif %}>
                            {{ pimcore_link('footer_link4_' ~ i, {
                                'class': '',
                                'text': 'Lorem ipsum dolor sit'
                            }) }}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </section>
    </div>
    
    
    <div>
        <footer id="copyright" class="clear">
            <p class="fl_left">Copyright &copy; {{ "now"|date("Y") }} - All Rights Reserved - Domain Name</p>
            <p class="fl_right">Posao kod asioso</p>
        </footer>
    </div>
</div>
